* {
  background-color: #e9f4f8;
  font-family: sans-serif;
}

.logo-image {
  margin: auto;
  width: 50%;
}

.logo-image img {
  width: 100%;
}

.information {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 100px;
  margin-top: -75px;
  margin-bottom: -75px;
}

.buttons {
  margin: auto;
}

.left {
  float: left;
  width: 30%;
  text-align: center;
  margin-left: 15%;
}

.right {
  float: right;
  width: 30%;
  text-align: center;
  margin-right: 15%;
}

#plus, #minus {
  background: none;
  border: none;
  font-size: 150px;
  font-weight: 700;
  padding: 30px 50px;
}

.buttons:hover {
  transition: 0.3s;
  color: rgba(0,0,0,0.4);
}

#plus:hover, #minus:hover {
  transition: 0.3s;
  color: rgba(0,0,0,0.4);
}

#plus:active {
  color: #b1e5dd;
}

#minus:active {
  color: #cd919d;
}

#reset:active {
  color: #d0cbee;
}

button:focus {
  outline: 0;
}

.reset-button {
  background: none;
  border: none;
  font-size: 40px;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

#reset {
  background: none;
  border: none;
  font-size: 40px;
  font-weight: 700;
  padding: 30px 50px;
  color: rgba(0,0,0,0.2);
}

footer {
  bottom: 15px;
  position: absolute;
}